body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  background-color: black;
}

#simple-workout-header {
  margin-top: 40px;
}

#workout-name-home {
  font-size: 14pt;
}

#workouts-header {
  margin-top: 40px;
}

#workout-form {
  margin-top: 40px;
}

#detailed-name {
  margin-top: 40px;
}

.ui.centered.grid {
  margin-top: 15px;
}

.ui.blue.inverted.button {
  margin-top: 10px;
  margin-bottom: 20px;
}

